!!!
%html
%head
  %body
    .flash-box
      .notice グループを作成しました
    .wrapper
      .chat-side
        .side-header
          %p.side-header__user-name 山本真央
          %ul.user-menu
            %li.user-menu__edit-user
              %a{:href => "/"}
                %i.fa.fa-edit
            %li.user-menu__new-group
              %a{:href => "/"}
                %i.fa.fa-cog
        .groups
          %a{:href => "/"}
            %p.group__group-name みほうプログラミング
            %p.group__latest-messages おはよう
      .chat-main
        .main-header
          .current-group
            %h2.current-group__name test
            %ul.member-list
              Member：
              %li.member-list__member Mihou
          %a{:href => "/"}
            .main-header__edit-btn Edit
        .messages
          .message-info
            .message-info__user Mihou
            .message-info__date 2019/05/03(Fri) 12:12:12
          %p.messages__text 睡眠は大切
        .form
          .write-down
            .input-box
              %input.input-box__text