.chat-main {
  float: left;
  width: calc(100vw - 300px);
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: #eeeeee;
  &__edit-btn {
    margin-top: 28px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: solid 1px $fontBtn;
    color: $fontBtn;
  }
}

.current-group{
  font-size: 20px;
  color: #333;
  margin-top: 35px;
}

.member-list {
  display: flex;
  margin-top: 15px;
  font-size: 12px;
  color: #999999;
}

.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: gray;
}
