* {
  box-sizing: border-box;
}

html {
  color: #000;
  background: $fontWhite;
}

body, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

div {
  display: block;
  margin: 0;
  padding: 0;
}

.flash-box {
  color: $fontWhite;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.chat-side {
  width: 300px;
  color: $fontWhite;
  float: left;
}

.side-header {
  background-color: $sideColor;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.user-memu {
  display: flex;
}