* {
  box-sizing: border-box;
}

html {
  color: #000;
  background: $fontWhite;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

div {
  display: block;
  margin: 0;
  padding: 0;
}

.flash-box {
  color: $fontWhite;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.chat-side {
  width: 300px;
  color: $fontWhite;
  float: left;
  a {
    color: $fontWhite;
  }
}

.side-header {
  background-color: $sideColor;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.user-memu {
  display: flex;
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}

.group {
  margin-bottom: 40px;
  &__group-name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__latest-messages {
    font-size: 11px;
  }
}